
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    color: hsla(217, 24%, 59%, 1);
    transition: all .4s ;
    
   
}
.siteTitle{
    width: 75%;
    margin: auto;
    font-size: 1.846em;
    padding-top: 130px;
}

.discriSite{
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
}
.rular{
    margin: 4px;
}
.discContent{
    padding-top:20px ;
}
.metainfo{
    padding-top:20px ;
}
.siteDiscription{
    width: 50%;
}
.contentFont{
    font-size: 22px;
}
.headRules{
    font-size: 35px;
    padding: 8px;
    color: black;
}
.infographs{
    padding: 8px;
}
.sitpic{
    width: 1000px;
    height: 1000px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.previewSite{
    width: 75%;
    margin: auto;
    padding-top: 30px;
    /* padding: 8px; */
    /* padding: 8px; */

}
.preview{
        padding: 8px;
        border-radius: 4px;
        font-size: 18px;
        background-color: rgb(185,126,187);
        color: white;
    
    border: 1px solid rgb(185,126,187) ;

    }
    .cbl{
        color: white;
    }
